body {
  background-color: rgb(255, 255, 255);
  font: 300 1.563em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
}

.gray p p {
  margin-bottom: 1em;
}

.address {
  width: 80%;
  height: 25px;
  margin: 8px auto 0;
  font-size: 0.72em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.black {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

.check-out-products {
  display: block;
  width: 100%;
  height: 132px;
  min-height: 42px;
  margin: 0 auto;
  padding: 2px;
  background-color: rgb(61, 125, 218);
  font-size: 1.6em;
  font-weight: 400;
  line-height: 3.28;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.check-out-products:hover {
  background-color: rgb(100, 151, 225);
  line-height: 3.28;
  color: rgb(255, 255, 255);
}

.check-out-products:active {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: none;
  background-color: rgb(46, 94, 164);
  color: rgb(255, 255, 255);
}

.comp-price-copy,
.large-format-copy {
  width: 100%;
  min-height: 89px;
  margin: 75px auto 0;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.comp-price-title {
  float: left;
  width: 79.4973337515%;
  min-height: 55px;
  margin-left: 10.18468%;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.comp-pricing {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 742px;
}

.comp-pricing-text {
  float: left;
  clear: both;
  width: 66.4166666666%;
  height: 245px;
  margin-left: 16.79167%;
}

.copyright {
  float: left;
  width: 307px;
  min-height: 18px;
  margin: 21px 0 0 10%;
  font-size: 0.4em;
  font-weight: 400;
  line-height: 1.78;
  color: rgb(241, 241, 241);
}

.created-by {
  float: left;
  width: 60px;
  min-height: 18px;
  font-size: 0.4em;
  font-weight: 400;
  line-height: 1.88;
  text-align: right;
  color: rgb(241, 241, 241);
}

.gray {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: rgb(222, 222, 222);
}

.header-img {
  position: relative;
  float: left;
  z-index: 19;
  width: 100%;
  height: 440px;
  background: url('../images/underthebridge-0126-72dpi.png') rgb(153, 153, 153);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-img-overlay {
  position: absolute;
  top: -440px;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 440px;
  background-color: rgba(0, 0, 0, 0.25);
}

.header-title {
  position: absolute;
  top: 136px;
  left: 0;
  right: 0;
  z-index: 26;
  width: 448px;
  height: 92px;
  margin: 0 auto;
}

.large-format {
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.large-format-text {
  width: 66.4166666666%;
  margin: 92px auto 20px;
}

.large-format-title {
  width: 79.4973337515%;
  min-height: 55px;
  margin-left: 10.18468%;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(61, 125, 218);
}

.logo {
  display: block;
  float: left;
  width: 259px;
  height: 62px;
  margin-left: 10%;
  background-image: url('../images/logo-red.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.logo:hover {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.7;
}

.logo:active {
  opacity: 0.25;
}

.menu {
  position: absolute;
  top: 0;
  height: 62px;
}

.menu .menu {
  display: block;
  right: 120px;
  z-index: 28;
  width: 62px;
  background-image: none, url('../images/menu.png');
  background-repeat: repeat, no-repeat;
  background-size: auto auto, contain;
  background-position: left top, center center;
  background-attachment: scroll, scroll;
  opacity: 0.5;
}

.menu .menu:hover {
  background: url('../images/menu-active.png'), none rgba(0, 0, 0, 0);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: center center, center center;
  opacity: 1;
}

.menu .menu:active {
  background-image: url('../images/menu-active.png'), none;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: center center, center center;
  opacity: 0.8;
}

.ott-logo {
  float: left;
  width: 66.976744186%;
  height: 18px;
  margin-left: 4.8982599999%;
  background-image: url('../images/ott-footer.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.outdoor-media {
  float: left;
  width: 56.3478260869%;
  margin-left: 1px;
  font-size: 3.2em;
  font-weight: 800;
  line-height: 1.08;
  color: rgb(255, 255, 255);
}

.see-the-power {
  float: left;
  width: 47.4940334128%;
  min-height: 19px;
  margin-top: 6px;
  font-size: 0.72em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.seethepower {
  position: absolute;
  top: 377px;
  left: 0;
  right: 0;
  z-index: 23;
  width: 347px;
  height: 34px;
  margin: 0 auto;
  text-align: center;
}

.signature {
  float: right;
  width: 215px;
  height: 18px;
  margin: 21px 9.91797% 0 0;
}

.trophy-img {
  float: left;
  width: 39.1666666666%;
  height: 285px;
  margin: 71px 0 0 30.39974%;
  background-image: url('../images/trophy.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.upload {
  display: block;
  position: absolute;
  top: 0;
  right: 203px;
  z-index: 29;
  width: 62px;
  height: 62px;
  background-image: url('../images/upload.png'), none;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto auto;
  background-position: center center, left top;
  background-attachment: scroll, scroll;
  opacity: 0.5;
}

.upload:hover {
  background: none, url('../images/upload-active.png') rgba(0, 0, 0, 0);
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: center center, center center;
  opacity: 1;
}

.upload:active {
  background-image: none, url('../images/upload-active.png');
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: center center, center center;
  opacity: 0.8;
}

.watch {
  width: 180px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 0.72em;
  font-weight: 600;
  line-height: 1.96;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.watch:hover {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: none;
  background-color: rgb(236, 18, 26);
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.watch:active {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: none;
  background-color: rgb(177, 14, 20);
  color: rgb(230, 230, 230);
}

.works {
  float: right;
  width: 153px;
  height: 90px;
  background-color: rgb(236, 18, 26);
  font-size: 3.2em;
  font-weight: 800;
  line-height: 1.08;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 180px;
  height: 35px;
  margin: 36px 0 0 42.5%;
  border-radius: 5px;
  background-color: rgb(61, 125, 218);
  font-size: 0.72em;
  font-weight: 600;
  line-height: 1.36;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: rgb(100, 151, 225);
}

._button:active {
  background-color: rgb(46, 94, 164);
  color: rgb(230, 230, 230);
}

._container {
  position: relative;
  float: left;
  width: 100%;
}

.menu-1 {
  left: 0;
  right: 0;
  z-index: 31;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

._container-1 {
  height: 440px;
  margin-top: 62px;
}

._container-2 {
  clear: both;
  height: 100px;
}

.outdoor-media span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(0, 133, 255);
  word-spacing: 0;
  color: inherit;
}

.works span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  word-spacing: 0;
  color: inherit;
}
video {
  width:100%;
}