
.gallery {
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(230, 230, 230);
}
.img-block {
	display: inline-block;
	width: 15%;
	margin: 10px;
	vertical-align: top;
}
.img-block img {
	width: 100%;
	height: 100%;
}
#bigImageHolder {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 7%;
	z-index: 100;
	overflow: hidden;
	padding: 5px;
	background: #fff;
	border: 1px solid black;
}
#bigImage{
	width: auto;
	max-width: 86vw;
	max-height: 86vh;
}
#closeImage {
	position: absolute;
	top: 0;
	right: 0;
	background: red;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}